
.icon-cog:before { content: '\e800'; } /* '' */
.icon-database:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-aperture:before { content: '\e803'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-pie-1:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
